<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devcivil.alarm_app">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:allowBackup="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

<!--        Activities-->
        <activity
            android:name="com.devcivil.alarm_app.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.devcivil.alarm_app.ui.ringing.AlarmRingingActivity"
            android:showOnLockScreen="true" />
        <activity android:name="com.devcivil.alarm_app.ui.alarmmodify.ModifyAlarmActivity" />
        <activity android:name="com.devcivil.alarm_app.ui.account.LoginActivity" />
        <activity android:name="com.devcivil.alarm_app.ui.account.SingUpActivity" />

<!--        Receivers-->
        <receiver android:name="com.devcivil.alarm_app.alarmreciver.ActivationAlarmActivityReceiver" />
        <receiver android:name="com.devcivil.alarm_app.alarmreciver.AlarmNotifyRebootActivatorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.devcivil.alarm_app.alarmserver.updator.AlarmUpdateDataReceiver" />

<!--        Services-->
        <service android:name="com.devcivil.alarm_app.alarmreciver.AlarmNotifyService" />
    </application>

</manifest>